[Unit]
Description=Service running the cosmic delay logger which inspects and verifies all antenna delay state every 15s
After=redis_server.service
Requires=redis_server.service
StartLimitInterval=0

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/home/cosmic/anaconda3/envs/cosmic_vla/bin/python /home/cosmic/src/COSMIC-VLA-DelayEngine/delay_logger.py -p 15
Restart=on-failure
RestartSec=1
